<!DOCTYPE html>
<html>
  <head>
    <title>List of countries</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/country-city.js" type="text/javascript"></script>
    
  </head>
  <body>

    <div th:replace="fragments/fragments :: menu"></div>
    <div th:replace="fragments/fragments :: add-city-modal"></div>

    <div class="container">
      <table class="table table-bordered table-striped my-5">
        <thead>
          <tr>
            <th>ISO code</th>
            <th>Név</th>
            <th>Főváros</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- /country/${country.iso} -->
          <!-- <a th:href="@{'/category/edit/' + ${category.idCategory}}">view</a>-->
          <tr data-th-each="country: ${countryList}" th:attr="data-iso=${country.iso}">
            <td class="align-middle" data-th-text="${country.iso}"></td>
            <td class="align-middle">
              <a th:href="@{'/country/' + ${country.iso}}" data-th-text="${country.name}"></a>
              <!-- TODO: Miért nem megy ez a link? -->
            </td>
            <td class="align-middle" data-th-if="${country.capital != null}" data-th-text="${country.capital.name}"></td>
            <td class="align-middle" data-th-if="${country.capital == null}" data-th-text="''"></td>
            <!-- TODO: ha kitöröltük egy ország fővárosát, akkor a gomb elcsúszik... -->
            <td class="align-middle text-center">
              <button class="btn btn-danger btn-sm delete-country">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>